@import "tailwindcss";

@theme {
  --font-sans: "Helvetica", "Helvetica Neue", Arial, sans-serif;
  --font-mono: "Fira Code", "JetBrains Mono", monospace;
  --color-brand: #ed1b24;
}

/* Custom global overrides to keep layout corporate and beautifully modern */
body {
  background-color: #f8fafc;
  color: #0b1523;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
